@font-face {
    font-family: font;
    src: url('/fonts/font.ttf');
}

html {
    font-family: font;
}

/* Increase the default font size */
html {
    font-size: 13.2pt;
  }
/*   
  body {
    background-image: url('/your-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  } */