
  
  @font-face {
    font-family: 'MyHeaderFont';
    src: url('/fonts/font-leaguespartan.woff2') format('woff2'),
         url('/fonts/font-leaguespartan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'BodyFont';
    src: url('/fonts/font-merriweather.ttf');
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'MyHeaderFont', sans-serif;
  }
  
  body {
    font-family: 'BodyFont';
  }




body {
    text-align: left;
    margin: 0;
    padding: 0; 
  }


/* Increase the default font size */
html {
    font-size: 13.2pt;
  }

  @media screen and (min-width: 0px) {
    .customthumb {
        width: 100%;
        height: 220px;
        object-fit: cover;
        box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.6);
    }

    .customEntitityLogo {
        background-color: aliceblue;
        pointer-events: none;
        position: relative;
        min-width: 45px;
        width: 45px;
        height: 45px;
        margin: 0px;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        object-fit: contain;
        border-radius: 4%;
    }

}

@media screen and (min-width: 700px) {
    .customEntitityLogo {
        background-color: aliceblue;
        pointer-events: none;
        position: relative;
        min-width: 45px;
        width: 45px;
        height: 45px;
        margin: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 3px;
        object-fit: contain;
        border-radius: 4%;
    }

}

@media screen and (min-width: 1250px) {
    .customthumb {
        width: 300px;
        height: 180px;
        object-fit: cover;
        box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.6);
        margin-right: 30px;
    }

    .customEntitityLogo {
        background-color: aliceblue;
        pointer-events: none;
        position: relative;
        min-width: 45px;
        width: 45px;
        height: 45px;
        margin: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px;
        object-fit: contain;
        border-radius: 4%;
    }

}

td {
    vertical-align: middle !important;
}

#map img.leaflet-marker-icon {
    pointer-events: none;
  }

    .no-zoom img { 
    pointer-events: none; 
  }

  .gr_grid_book_container img { 
    pointer-events: none; /* Disable all pointer events, including zoom */
    /* OR */
    touch-action: none;  /* Disable touch zoom specifically */
  }

  .medium-zoom-image {
    pointer-events: none; 
    /* OR */
    touch-action: none; 
  }

  th:nth-child(2), td:nth-child(2) { /* Targets the 2nd column (Company) */
    width: 20%; /* Adjust the width as needed */
  }

