:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    206,214,228;
--color-neutral-300:    157,173,201;
--color-neutral-400:    108,131,174;
--color-neutral-500:    73,94,132;
--color-neutral-600:    58,75,106;
--color-neutral-700:    44,57,79;
--color-neutral-800:    29,38,53;
--color-neutral-900:    15,19,27;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    255,255,255;
--color-primary-400:    245,237,198;
--color-primary-500:    233,217,133;
--color-primary-600:    227,206,98;
--color-primary-700:    221,195,64;
--color-primary-800:    206,179,37;
--color-primary-900:    172,149,31;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    238,241,227;
--color-secondary-400:    208,215,177;
--color-secondary-500:    178,189,126;
--color-secondary-600:    162,175,99;
--color-secondary-700:    141,154,79;
--color-secondary-800:    117,127,65;
--color-secondary-900:    92,100,51;
}