:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    206,214,228;
--color-neutral-300:    157,173,201;
--color-neutral-400:    108,131,174;
--color-neutral-500:    73,94,132;
--color-neutral-600:    58,75,106;
--color-neutral-700:    44,57,79;
--color-neutral-800:    29,38,53;
--color-neutral-900:    15,19,27;
--color-primary-50:     255,255,255;
--color-primary-100:    254,252,252;
--color-primary-200:    241,189,198;
--color-primary-300:    227,126,144;
--color-primary-400:    213,64,90;
--color-primary-500:    164,36,59;
--color-primary-600:    131,29,47;
--color-primary-700:    97,21,35;
--color-primary-800:    64,14,23;
--color-primary-900:    30,7,11;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    237,231,210;
--color-secondary-500:    216,201,155;
--color-secondary-600:    205,185,126;
--color-secondary-700:    193,169,96;
--color-secondary-800:    179,152,70;
--color-secondary-900:    149,127,58;
}