:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    206,214,228;
--color-neutral-300:    157,173,201;
--color-neutral-400:    108,131,174;
--color-neutral-500:    73,94,132;
--color-neutral-600:    58,75,106;
--color-neutral-700:    44,57,79;
--color-neutral-800:    29,38,53;
--color-neutral-900:    15,19,27;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    252,242,208;
--color-primary-400:    248,222,136;
--color-primary-500:    243,202,64;
--color-primary-600:    241,191,26;
--color-primary-700:    212,167,13;
--color-primary-800:    174,136,11;
--color-primary-900:    135,106,9;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    252,233,208;
--color-secondary-400:    247,199,137;
--color-secondary-500:    242,165,65;
--color-secondary-600:    239,147,27;
--color-secondary-700:    211,125,14;
--color-secondary-800:    173,103,12;
--color-secondary-900:    135,80,9;
}